google-auth
google-auth-oauthlib
google-auth-httplib2
PyJWT==2.9.0
fastapi==0.115.2
uvicorn==0.38.0
pydantic==2.12.3
SQLAlchemy==2.0.44
alembic==1.13.2
psycopg2-binary==2.9.11
python-dotenv==1.0.1
openai==2.6.0
pymongo==4.15.3
requests==2.32.3
httpx==0.28.1
